@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.3.67/css/materialdesignicons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #9bbe3b;
    --primary_2: #008027;
    --primary_light: #E4FAEE;
    --dim_dark: #111;
}

body {
    font-family: 'Manrope', sans-serif;
}

/*  */
.fade-slide-enter-from,
.fade-slide-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: all .25s ease;
}

.fade-slide-enter-to,
.fade-slide-leave {
    opacity: 1;
    transform: translateY(0);
}

/*  */
.animate-pulse {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/*  */
.fade-move-enter-from {
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

.fade-move-enter-active {
    transition: opacity 0.15s ease, transform 0.25s ease;
}

.fade-move-enter-to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.fade-move-leave-from {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.fade-move-leave-active {
    transition: 0.15s ease;
}

.fade-move-leave-to {
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

/*  */
.list-enter-active,
.list-leave-active {
    transition: all 0.3s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

/* slide router */
.slide-top-enter-from,
.slide-top-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.slide-top-enter-active,
.slide-top-leave-active {
    transition: all 0.3s cubic-bezier(0.33, 0, 0.27, 1) !important;
}

.slide-top-enter-to,
.slide-top-leave {
    opacity: 1;
    transform: translateY(0);
}


/* custom scrollbar */
::-webkit-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    transition: all .3s ease;
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    background: #d1d5db;
}

/* search highlight */
.searchwp-highlight {
    background-color: transparent !important;
    color: var(--primary_2);
}